/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
div#section-contact {
	padding-bottom: 0px;
}
div#section-services {
	padding-bottom: 0px;
}
div#side-panel-trigger {
	display: none;
}

.col-padding.max-height {
	padding-left: 30px;
}
div#section-about {
	padding-bottom: 0px;
}
div#section-about {
    display: none;
}